<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALxe9Nz2TdeILglzBP2OC8W3IC20gUdm0</string>
	<key>GCM_SENDER_ID</key>
	<string>701907974947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio2</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-2b16f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-2b16f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701907974947:ios:94fea5824e616dab21ea96</string>
</dict>
</plist>